<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| -%>
      <div class="flash <%= key %>"><%= value %></div>
    <% end -%>

  <div class="user_bar">
    <% if signed_in? %>
      Welcome <%= current_user.email %>
      <%= link_to t("sign_out"), sign_out_path, method: :delete %>
    <% else %>
      <%= link_to t("register"), sign_up_path %>
      <%= link_to t("sign_in"), sign_in_path %>
    <% end %>
  </div>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
